body {
    font-family: Arial;
    background-color: lightgray;
}

h1 {
    color: red;
}

h2 {
    display: inline-block;
    vertical-align: middle;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none; 
    color: gold;
}

span {
    font-weight: bold;
    color: aqua;
}

h1.fav {
    color: purple;
}

h1.fav2 {
    color: yellowgreen;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
    color: red;
}
.boxes {
    display: block;
    margin: 1em;
    padding: 1em;
    border: 5px black solid;
    border-radius: 10px;
    width: 25%;
}

.bb {
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

.list {
    border: solid black 2px;
    padding: 2px;
    width: 150px;
}

.destinations {
    color: indigo;
}

.food {
    color: rgb(72, 107, 83);
}

.friends {
    color: rgb(0, 75, 85);
}

#box1 {
    background-color: brown;
}

#box2{
    background-color: burlywood;
}

#box3{
    background-color: tomato;
}

#box4{
    background-color: palevioletred;
}

#show1 {
    color:green;
}

#show2 {
    color: pink;
}

#show3 {
    color: maroon;
}

#show4 {
    color: coral;
}

#show5 {
    color: slateblue;
}